body {
  background-image: url("rainbow.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}
a {
  color: hsl(170, 100%, 50%);
  text-decoration: none;
}
.container {
  position: relative;
  display: flex;
  max-width: 800px;
  height: 600px;
  margin: 40px auto;
  border: 0.5px solid;
  border-radius: 15px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 250, 68, 0.132) -1.7%,
    rgba(2, 238, 250, 0.159) 21.1%,
    rgba(172, 8, 237, 0.179) 46%,
    rgba(237, 8, 119, 0.125) 64.2%,
    rgba(237, 8, 119, 0.137) 81%,
    rgba(248, 136, 0, 0.207) 97.2%
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  position: absolute;
  margin-top: 10px;
  margin-left: 16px;
  color: black;
}
.main {
  width: 400px;
  height: 500px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: 70px;
  flex: 0 0 30%;
}
.search-form {
  border: 1px solid;
  border-radius: 8px;
  width: 70%;
  font-size: 14px;
  padding: 10px 15px;
  background-color: hsla(204, 5%, 58%, 0.765);
  backdrop-filter: blur(10px);
}
.submit-form {
  border: 1px solid;
  border-radius: 40%;
  font-size: 14px;
  width: 20%;
  padding: 10px 15px;
  background-color: hsla(204, 5%, 58%, 0.765);
  backdrop-filter: blur(10px);
}
.weather-app-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: azure;
}
.weather-app-icon {
  font-size: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 48px;
  color: azure;
}
.weather-details-description {
  margin-top: 10px;
  font-size: 35px;
  color: azure;
}
.weather-description-details {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  color: azure;
}
.weather-details {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  color: azure;
}
.humidity {
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.wind {
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.value {
  margin-top: 20px;
  font-size: 18px;
}
.hourly-forecast {
  width: 300px;
  height: 200px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 70px;
  flex: 0 0 65%;
  margin-left: 20px;
}
.hourly-forecast-container {
  margin-top: 30px;
  color: azure;
}
.weekly-forecast {
  width: 520px;
  height: 200px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 140px;
  flex: 0 0 65%;
  margin-left: 5px;
}
.weekly-forecast-container {
  margin-top: 30px;
  color: azure;
}
footer {
  margin-top: 500px;
  margin-left: 550px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bolder;
  color: hsl(0, 0%, 0%);
  position: absolute;
  bottom: 70px;
  width: 100%;
}
